---
import AsideMenuItem from "./AsideMenuItem.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
---

<nav class="bg-zinc-900 rounded-lg p-2">
  <ul>
    <AsideMenuItem href="/">
      <HomeIcon />
       Home
    </AsideMenuItem>
    <AsideMenuItem href="/search">
      <SearchIcon />
       Search
    </AsideMenuItem>
  </ul>
</nav>
