---
const currentDate = new Date();
const currentHour = currentDate.getHours();

let gretting = "";

if (currentHour < 12) {
  gretting = "Buenos dias";
} else if (currentHour < 18) {
  gretting = "Buenas tardes";
} else {
  gretting = "Buenas noches";
}
---

<h1 class="text-4xl font-semibold">{gretting}</h1>
